* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: hsla(0, 0%, 100%, 1);
  --text-color: hsla(240, 6%, 21%, 1);
  --bg-card: hsla(240, 9%, 89%, 1);
  --bg-card-hover: rgb(194, 194, 201);
  --bg-card-select: hsla(194, 97%, 31%, 1);
  --text-color-select-card: hsla(0, 0%, 100%, 1);

  font-size: 62.5%;
}

button {
  border: none;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}

body {
  background-color: var(--bg-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  display: flex;
  align-items: center;
  gap: 19rem;
}

#timer span {
  font-family: sans-serif;
  color: var(--text-color);
  font-weight: 500;
  font-size: 12.6rem;
}

#app #controls {
  display: flex;
  gap: 40px;
}

#app #controls button {
  font-size: 4.8rem;
  cursor: pointer;
}

#sounds {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 3.2rem;
}

.button-wrapper button {
  display: flex;
  align-items: center;
  padding: 1.6rem;
  background-color: var(--bg-card);
  font-size: 8.5rem;
  border-radius: 2rem;
  transition: background-color .3s;
}

.button-wrapper button:hover {
  background-color: var(--bg-card-hover);
}

button.selected {
  background-color: var(--bg-card-select);
  color: var(--text-color-select-card);
}