#app .explore {
  display: grid;
  height: 836px;
  grid-template-columns: 2fr 1fr;
  margin: 0 auto;
  background-color: #F9F4FB;
}

#app .text-content {
  display: flex;
  justify-content: center;
  margin: 312px auto;
  flex-direction: column;
}

#app .text-content h1 {
  color: #B52184;
  font-family: Mulish;
  font-size: 58.287px;
  font-weight: 900;
  margin-bottom: 8px;
}

#app .text-content p {
  font-family: Mulish;
  font-size: 32px;
  font-weight: 600;
}

#app .text-content img {
  width: 58px;
  height: 105px;
  margin-top: 179px;
}

#app .image-content img {
  width: 710px;
  height: 732px;
  margin-bottom: 103px;
  margin-right: 30px;
  object-fit: fill;
}

#app .content-card {
  display: flex;
  padding: 64px 111px;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  background: linear-gradient(96deg, #343193 0%, #302C63 99.68%);
}

#app .content-card .card {
  width: 366px;
  height: 448px;
  padding: 32px;
  border-radius: 24px;
  background: #FFF;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}

#app .content-card .card img {
  width: 97px;
  height: 97px;
  margin-bottom: 40px;
}

#app .content-card .card h1 {
  color: #B52184;
  font-family: Mulish;
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 24px;
}

#app .content-card .card p {
  color: #312D64;
  font-family: Mulish;
  font-size: 19px;
  font-weight: 600;
}

#app .contact-me {
  display: grid;
  grid-template-columns: 1fr 0fr;
  background: #F9F4FB;
}

#app .contact-me form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}

#app .contact-me form h1 {
  color: #B52184;
  font-family: Mulish;
  font-size: 42px;
  font-weight: 900;
  margin-bottom: 30px;
}

#app .contact-me .input-wrapper input {
  width: 592px;
  padding: 12px 16px 12px 14px;
  border-radius: 16px;
  border: 1.5px solid #312D64;
  margin-bottom: 24px;
}

#app .contact-me .input-wrapper textarea {
  width: 592px;
  padding: 12px 16px 16px 16px;
  align-items: flex-start;
  border-radius: 16px;
  border: 1.5px solid #312D64;
  margin-bottom: 40px;
}

#app .contact-me .input-wrapper button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-family: Mulish;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  height: 45px;
  padding: 16px;
  border: none;
  border-radius: 16px;
  background: linear-gradient(96deg, #343193 0%, #302C63 99.68%);
}

#app .contact-me .image-stars img {
  width: 644px;
  height: 612px;
}