* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background: linear-gradient(288deg, #C2E9FB 0%, #A1C4FD 100%);
  font-size: 1.6rem;
  display: grid;
  place-items: center;
  height: 100vh;
}

body,
button,
input {
  font-family: 'DM Sans', sans-serif;
}

button {
  border-radius: 0 .4rem .4rem 0;
  background: var(--Iris-80, #7879F1);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background .3s;
}

button:hover {
  background-color: #6363ce;
}

.hide {
  display: none;
}

main {
  padding: 4.8rem 6.4rem 6.4rem;
  border-radius: .6rem;
  background: #FFFFFF;
  box-shadow: 0px .2rem .4rem 0px rgba(0, 0, 0, 0.10);
  width: min(42.8rem, 90%);
  text-align: center;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

h1,
p {
  color: #34355B;
}

p {
  opacity: .8;
}

form {
  margin-top: 4.8rem;
  display: flex;
  justify-content: center;
}

input,
button {
  border: none;
  padding: 1.6rem;
}

input {
  background-color: #DCE2E9;
  width: 6rem;
  border-radius: .4rem 0 0 .4rem;
}

/* Screen 2 */

h2 {
  font-size: 2.4rem;
  font-weight: normal;
  margin-bottom: 3.3rem;
}

.screen2 button {
  border-radius: .4rem;
}